doctype
html
	head
		title Super Mario Pop Quiz
		script(data-main="./js/app.js" src="./js/require.js")
		link(href="./css/style.css" rel="stylesheet")
		link(rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon")
		link(rel="icon" href="./img/favicon.ico" type="image/x-icon")
	body
